{% include "barra_navegacion.html" %}
{% load static %}



{% block content %}



    <div class="columns is-mobile">
        <div class="column is-half is-offset-one-quarter"
             style="justify-content: center;  align-items:  center; display: flex;">
            <table class="table">

                <thead>

                <tr>
                    <th> Name</th>
                    <th>Address</th>
                    <th></th>
                </tr>

                </thead>

                <tbody>


                {% for s in shops %}

                    <tr>

                        <td>
                            {{ s.name }}
                        </td>
                        <td>
                            {{ s.address }}
                        </td>
                        <td>

                            <a href="{% url 'shop_edit' id=s.id %}" class="has-text-dark">
                                <span class="icon">
                                    <i class="fas fa-pen"></i>
                                </span>
                            </a>
                            <a href="{% url 'shop_delete'  id=s.id %} " class="has-text-dark">
                                <span class="icon">
                                    <i class="fas fa-trash"></i>
                                </span>
                            </a>

                        </td>
                    </tr>


                {% endfor %}

                </tbody>


            </table>


        </div>


    </div>

    <div class="columns is-mobile">
        <div class="column is-half is-offset-one-quarter"
             style="justify-content: center;  align-items:  center; display: flex;">

            <a href="{% url 'shop_new' %}">
                <button class="button is-info is-light is-rounded"> New</button>
            </a>


        </div>
    </div>






{% endblock %}


{% include "footeer.html" %}