{% include "barra_navegacion.html" %}
{% load static %}

<br>
<div class="columns is-mobile is-centered">
    <p class="title is-2">List Employees</p>
</div>
<br>

{% for e in employees %}
    {% if forloop.counter0|divisibleby:3 %}
        {% if not forloop.first %}
            </div> <!-- Cerrar el contenedor columns si no es el primer elemento -->
        {% endif %}
        <div class="columns"> <!-- Abrir un nuevo contenedor columns cada 3 elementos -->
    {% endif %}

<div class="column is-one-third"> <!-- Cambiar a is-one-third para 3 elementos por fila -->

    <div class="card" style="min-height: 225px">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="{{ e.image_url }}" alt="">
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-4">{{ e.fullname }}</p>
                    <p class="subtitle is-6">{{ e.birth_date|date:'Y-m-d' }}</p>
                    <div class="content">
                        {{ e.dni }}
                        {{ e.mail }}
                    </div>
                </div>
            </div>
        </div>

        <div class="columns is-mobile is-centered">
            <div class="column is-align-items-center is-justify-content-center is-flex">
                <a href="{% url 'edit_employee' id=e.id %}">
                    <button class="button is-light"> Editar</button>
                </a>
            </div>
            <div class="column is-align-items-center is-justify-content-center is-flex">
                <a href="{% url 'delete_employee' id=e.id %}">
                    <button class="button is-light"> Eliminar</button>
                </a>
            </div>
            <div class="column is-align-items-center is-justify-content-center is-flex">
                <a href="{% url 'add_user' id=e.id %}">
                    <button class="button is-light">Usuario</button>
                </a>
            </div>
        </div>


    </div>
</div>

{% if forloop.last %}
    </div> <!-- Asegurarse de cerrar el contenedor columns al final -->
{% endif %}
{% endfor %}
<br>


<div class="columns is-mobile is-centered">
    <div class="column is-half is-centered has-text-centered">
        <a href="{% url 'new_employee' %}">
            <button class="button is-info is-light is-rounded"> New Employee</button>
        </a>
    </div>
</div>

{% include "footeer.html" %}

