{% include "barra_navegacion.html" %}
{% load static %}

<br><br>



<div class="columns is-mobile is-centered">
    <p class="title is-2">New Shop</p>
</div>

<br><br>



<div class="columns is-mobile is-centered">


        <div class="column is-half">


            <form action="" method="post">

                {% csrf_token %}


                <div class="columns is-multiline is-mobile">
                    <div class="column is-one-quarter has-text-centered">
                        <label for="name" class="subtitle is-5"> Name</label>
                    </div>
                    <div class="column">
                        <input id="name" name="name" type="text" class="input" placeholder="" value="{{ shop.name }}">
                    </div>
                </div>

                <div class="columns is-multiline is-mobile">
                    <div class="column is-one-quarter has-text-centered">
                        <label for="address" class="subtitle is-5"> Address</label>
                    </div>
                    <div class="column">
                        <input id="address" name="address" type="text" class="input" placeholder="" value="{{ shop.address }}">
                    </div>
                </div>

                <br><br><br>

                <div class="columns is-mobile is-centered">
                    <input class="button is-rounded is-info is-light" type="submit">
                </div>


            </form>
    </div>
</div>
