{% include "barra_navegacion.html" %}
{% load static %}


{% block content %}
    <div class="columns is-mobile is-centered">
        <div class="column is-half">

            <div class="columns" style="padding-top: 30px;">
                <div class="column">
                    <a href="{% url 'statistic_customer_order' %}" class="has-text-dark">
                        <div class="card" style="width: 18rem;">
                            <h5 class="card-title has-text-centered">Orders by Customer</h5>
                            <div class="card-body">

                                <div class="is-justify-content-center is-align-content-center is-flex">

                                    <span class="icon is-large">
                                         <i class="fas fa-shopping-cart"></i>
                                         <i class="fa  fa-user" style="padding-left: 5px"></i>
                                    </span>

                                </div>
                            </div>
                        </div>
                    </a>
                </div>


                <div class="column">
                    <a href="{% url 'statistic_customer_spent' %}" class="has-text-dark">
                        <div class="card" style="width: 18rem;">
                            <h5 class="card-title has-text-centered"> Spent money by Customer</h5>
                            <div class="card-body">

                                <div class="is-justify-content-center is-align-content-center is-flex">

                                    <span class="icon is-large">
                                        <i class="fa fa-solid fa-dollar-sign"></i>
                                        <i class="fa  fa-user" style="padding-left: 5px"> </i>
                                    </span>

                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="columns" style="padding-top: 30px;">

                <div class="column">
                    <a href="{% url 'statistic_item_bought' %}" class="has-text-dark">
                        <div class="card" style="width: 18rem;">
                            <h5 class="card-title has-text-centered"> More popular bought items</h5>
                            <div class="card-body">

                                <div class="is-justify-content-center is-align-content-center is-flex">

                                    <span class="icon is-large">
                                        <i class="fas fa-socks"></i>
                                         <i class="fas fa-shopping-cart" style="padding-left: 5px"></i>
                                    </span>

                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>



{% endblock content %}


{% include "footeer.html" %}